/* CSS Reset */
/* This is a simple CSS reset to remove default browser styles */
/* and ensure consistent styling across different browsers */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* Nav Styles */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0 15px;
}

nav .mobile {
    display: none;
}
