/* CSS Reset */
/* This is a simple CSS reset to remove default browser styles */
/* and ensure consistent styling across different browsers */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}
/* Nav Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    color: #333;
    padding: 10px;
    z-index: 1000;
}

nav.desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div.logo {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1.875rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 0.625rem 0.9375rem;
}

nav ul li {
    margin: 0 15px;
}

nav.mobile {
    display: none;
}

@media (max-width: 768px) {
    nav.mobile {
        display: block;
    }
    nav.desktop {
        display: none;
    }
}
